.header {
  padding: 0 50px;
  position: fixed;
  left: 50px;
  right: 50px;
  top: 40px;
  height: 80px;
  z-index: 3;
  background: #585d65;
  border-radius: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-download-btn {
    border: 1px solid #fff;
    padding: 15px 20px;
    border-radius: 80px;
    min-width: 120px;
    margin-left: 40px;
    white-space: nowrap;

    & > span {
      margin-right: 10px;
    }
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 80px;
    display: flex;
    align-items: center;

    &__item {
      margin-left: 40px;
    }
  }
}
