@use "variables.scss" as variables;
@use "mixins.scss" as mixins;

.contacts {
  padding: 9em 2em 2em;

  @include mixins.tablet {
    padding-bottom: 18em;
  }

  &-title {
    margin-bottom: 60px;
  }

  &-content {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;

    @include mixins.mobile {
      flex-direction: column;
    }

    &_form {
      padding: 30px;
      border: 1px solid variables.$light-grey;
      border-radius: 30px;
      margin: 0 30px 30px 0;

      @include mixins.mobile {
        margin-right: 0;
        border: none;
        padding: unset;
      }

      input,
      textarea {
        padding: 0 20px;
        margin: 5px 0 30px 0;
        font-family: "Poppins";
        font-size: 14px;
        height: 64px;
        width: 80%;
        color: variables.$white-text;
        border: 1px solid variables.$light-grey;
        background-color: transparent;
        resize: none;
        outline: 0;
        border-radius: 30px;
        transition: all 0.3s ease 0s;

        @include mixins.mobile {
          width: 100%;
        }
      }

      input:focus,
      textarea:focus {
        border-color: variables.$mint;
      }

      textarea {
        padding: 20px 20px;
      }

      &__btns {
        display: flex;
        margin: 0 30px 30px 0;

        & > button {
          margin-right: 30px;
          white-space: nowrap;

          & > i {
            margin-left: 10px;
          }
        }

        &___up {
          border: 1px solid #585d65;
          padding: 15px 20px;
          border-radius: 80px;
          white-space: nowrap;
        }
      }
    }

    &_info {
      padding: 30px;
      border: 1px solid variables.$light-grey;
      border-radius: 30px;
      margin-bottom: 30px;

      &__name {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;

        & > span:first-child {
          margin-bottom: 5px;
          font-size: 24px;
          color: variables.$white-text;
          font-weight: 800;
        }

        & > span:nth-child(2) {
          font-size: 11px;
          color: variables.$violet-hover;
          font-weight: 600;
          text-transform: uppercase;
        }
      }

      &__list {
        & > ul {
          list-style-type: none;
          padding: 0;

          & > li > span {
            font-weight: 600;
            text-transform: uppercase;
            color: variables.$mint;
          }
        }
      }
    }
  }
}
