@use "variables.scss" as variables;
@use "mixins.scss" as mixins;

.education {
  padding: 9em 2em;

  &-content {
    &_item {
      margin: 0 30px 30px 0;
      padding: 15px;
      border: 1px solid variables.$light-grey;
      border-radius: 30px;
      display: flex;
      width: 100%;

      @include mixins.mobile {
        justify-content: space-between;
      }

      &__company {
        position: relative;
        margin-right: 30px;
        width: 25%;

        &___date {
          position: absolute;
          left: -8px;
          top: -22px;
          font-size: 11px;
          color: variables.$mint;
          font-weight: 600;
          transform-origin: bottom left;
          transform: rotate(90deg);
        }

        &___name {
          margin: 0 0 30px 30px;
          font-size: 18px;
          color: variables.$white-text;
          font-weight: 800;

          & > a {
            display: flex;
            flex-direction: column;
          }
        }
      }

      &__description {
        @include mixins.mobile {
          width: min-content;
          margin-right: 20px;
        }
      }
    }
  }
}
