@use "variables.scss" as variables;

.home {
  height: 100%;
  padding: 18em 2em;

  &__title {
    margin: 40px 0 0 -5em;
    padding: 30px 50px;
    font-size: 2em;
    font-weight: 800;
    color: variables.$white-text;
    background: #373b40;
    border-radius: 264px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    max-width: 50%;

    & > h3,
    & > h4 {
      text-align: left;
      padding-left: 10px;
    }
  }

  &__greeting {
    text-align: left;
    margin-top: 30px;
  }

  &-buttons {
    display: flex;
    margin: 30px 30px 30px 0;

    & > a {
      border: 1px solid variables.$light-grey;
      padding: 15px 20px;
      border-radius: 80px;
      white-space: nowrap;
    }

    &__contact > i {
      margin-left: 10px;
    }

    &__contact {
      min-width: 120px;
    }

    &__next {
      margin-left: 30px;
    }
  }
}
