@use "variables.scss" as variables;
@use "mixins.scss" as mixins;

.home {
  height: 100%;
  padding: 18em 2em;

  @include mixins.tablet {
    padding: 2em 2em;

    .subtitle {
      text-align: center;
      margin-top: -40px;
    }
  }

  &__title {
    margin: 40px 0 0 -5em;
    padding: 30px 50px;
    font-size: 2em;
    font-weight: 800;
    color: variables.$white-text;
    background: #373b40;
    border-radius: 264px;
    z-index: 4;
    display: flex;
    flex-direction: column;

    & > h3,
    & > h4 {
      text-align: left;
      padding-left: 10px;

      @include mixins.tablet {
        text-align: center;
        padding: 70px 35px 30px 35px;
      }
    }

    @include mixins.tablet {
      margin: -220px auto 0 auto;
      font-size: 40px;
      padding: 90px 0px;
      align-items: center;
      max-width: 40%;

      & > h4 {
        font-size: 16px;
        padding: 15px 30px;
        margin: 0;
        color: variables.$mint;
      }

      & > h3 {
        line-height: 1.2em;
        padding: 0;
        max-width: 300px;
        margin: 0;
        text-align: center;
      }
    }

    @include mixins.mobile {
      max-width: 88%;
    }
  }

  &__greeting {
    text-align: left;
    margin-top: 30px;

    @include mixins.tablet {
      text-align: center;
      margin: 30px auto;
      max-width: 70%;
    }

    @include mixins.mobile {
      max-width: unset;
    }
  }

  &-buttons {
    display: flex;
    margin: 30px 30px 30px 0;
    justify-content: left;

    @include mixins.tablet {
      justify-content: center;
    }

    & > a {
      border: 1px solid variables.$light-grey;
      padding: 15px 20px;
      border-radius: 80px;
      white-space: nowrap;
    }

    &__contact > i {
      margin-left: 10px;
    }

    &__contact {
      min-width: 120px;
    }

    &__next {
      margin-left: 30px;
    }
  }
}
