@use "variables.scss" as variables;
@use "mixins.scss" as mixins;

@import "home.scss";
@import "skills.scss";
@import "experience.scss";
@import "education.scss";
@import "contacts.scss";

.content-wrp {
  display: flex;
  justify-content: end;

  @include mixins.tablet {
    flex-direction: column;
  }

  .aside-photo {
    position: fixed;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    z-index: -1;

    @include mixins.tablet {
      position: relative;
      width: 100%;
      height: 40em;
      top: -53px;
    }

    @include mixins.mobile {
      height: 33em;
      top: -25px;
    }

    &__img {
      background-image: url(../assets/maiia.jpg);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;

      @include mixins.mobile {
        top: -56px;
      }
    }
  }

  .sections-wrp {
    display: flex;
    flex-direction: column;
    width: 56%;
    border-right: 1px solid variables.$light-grey;

    @include mixins.tablet {
      width: 100%;
      border: none;
    }
  }

  .section {
    border-bottom: 1px solid variables.$light-grey;
    border-right: 1px solid variables.$light-grey;
    width: 80%;
    margin: 0 20px;

    @include mixins.tablet {
      width: 100%;
      margin: 0 auto;
      border-right: none;
    }
  }

  .title {
    margin-bottom: 10px;
    max-width: 70%;
    font-size: 55px;
    line-height: 1.2;
    color: variables.$white-text;
    font-weight: 800;
    transition: all 0.3s ease 0s;
  }

  .subtitle {
    font-size: 14px;
    line-height: 1.2;
    color: variables.$violet-hover;
    font-weight: 600;
    text-transform: uppercase;
  }
}
