.skills {
  padding: 9em 2em;

  &-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &_item {
      &__name {
        font-size: 18px;
        color: variables.$mint;
      }

      &__desc > ul {
        padding-left: 20px;
        margin-right: 30px;
      }
    }
  }

  &-other {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-right: 2em;

    &_title {
      font-size: 14px;
      line-height: 1.2;
      color: variables.$mint;
      font-weight: 600;
      text-transform: uppercase;
    }

    &_list {
      margin-left: 4em;
    }
  }
}
