.skills {
  padding: 9em 2em;

  &-content {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr;

    &_item {
      &__name {
        font-size: 18px;
      }

      &__desc > ul {
        padding-left: 20px;
        margin-right: 30px;
      }
    }
  }

  &-other {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-right: 2em;

    &_list {
      margin-left: 4em;
    }
  }
}
