@use "variables.scss" as variables;
@use "mixins.scss" as mixins;

@import "sections.scss";
@import "header.scss";

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: variables.$white-text;
  background: variables.$dark-gray;
  letter-spacing: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: variables.$white-text;
  text-decoration: inherit;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 800;

  &:hover {
    color: variables.$violet-hover;
  }
}

button {
  border-radius: 60px;
  border: 1px solid variables.$light-grey;
  padding: 15px 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  color: variables.$white-text;

  &:hover {
    color: variables.$violet-hover;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

p {
  text-align: left;
  max-width: 500px;
  margin: 30px 0;
  padding: 0;
}

h3 {
  margin: 30px 0 0 0;
  line-height: 1.2em;
}

h4 {
  margin: 20px 0 30px 0;
  line-height: 1.2em;
}

.container {
  margin: 0;
  position: relative;
  overflow: hidden;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.overflow {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
